
#navbar {
	width:300px;
	margin-left: 595px;

}

#image {
	
	text-align:center;
}




 #bio {
 	margin-top:80px;
	margin-left: 50px;
	width:500px;
	height:400px;
	display:inline-block;
	text-align:left;
	font-size: 20px;


}


#image img {
	float:right;

}